accelerate>=1.0.0
bitsandbytes>=0.44.1
diffusers>=0.30.4
transformers>=4.45.2
huggingface_hub>=0.25.2
hf_transfer>=0.1.8
peft>=0.13.1
decord>=0.6.0
wandb>=0.18.3
pandas>=2.4.1
torch>=2.4.0
torchvision>=0.19.0
torchao>=0.5.0
sentencepiece>=0.2.0
imageio-ffmpeg>=0.5.1
numpy>=2.1.2
